.navbar-top {
    margin-left: 51px;
    display: flex;
    flex-wrap: wrap;
    transform: skew(-20deg);
    height: 36px;
    width: 36px;
}

.navbar-side {
    display: flex;
    flex-wrap: wrap;
    height: 36px;
    width: 36px;
}

.navbar {
    display: flex;
    align-items: center;
    width: 120%;
    background-color: green;
    transform: skew(-20deg);
    padding-left: 20px;
    margin-left: -20px;
}

.navbar-bottom {
    margin-left: 25px;
    display: flex;
    flex-wrap: wrap;
    transform: skew(-20deg);
    height: 36px;
    width: 36px;
}

.icon {
    box-sizing: border-box;
    height: 36px;
    width: 36px;
    margin: 2px;
}

.square {
    height: 10px;
    width: 10px;
    border: 1px solid black;
    border-radius: 2px;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.white {
    background-color: white;
}
